<section class="container mx-auto row d-flex align-items-center about-section mb-5">
  <p class="heading-text text-center wow animated slideInUp">
    Web Development <span class="primary-color">Company</span>
  </p>

  <div class="row d-flex align-items-center mt-5">
    <div class="col-md-6 col-12 pe-md-3  wow animated slideInLeft">
      <div class="project-detail mt-3">
        We are a web and mobile app development company focused on creating the quality software products. Our enthusiastic development teams are the experts in a lot of technology stacks. They serve up as the specialists in merging the artistic designs with our next-gen app development services. We lend a hand to you to build up the consumer-facing or B2B apps for a variety of digital platforms like mobile, web, desktop, smart watch, VR and AR. 
      </div>
      <div class="project-detail mt-3">
        We put up the fully functional, robust, and scalable software products that hold out the test of time. Our application development services take account of technology consultation, development, testing, support and maintenance. Our client success stories involve audit and improvement of existing apps and updating of legacy apps.
      </div>
      <button class="custom-btn">
        <a href="index.html#contactsection" class="text-decoration-none">Get a Quote</a>
      </button>
    </div>
    <div class="col-md-6 col-12 order-0 order-md-1 pt-5 pt-md-0 wow animated slideInRight text-center">
      <%= image_tag 'theme1/precious/Service page/app development about img.svg' , class: 'webdev-img' , width: '100%' ,
        style: 'max-width: 500px;' , alt: '' %>
    </div>
  </div>
</section>
