<section class="faq-section mt-5 pt-3">
  <div class="container my-5">
    <h2 class="text-center mb-4 heading-text mb-5 wow animated zoomIn">App Development <span
        class="primary-color">FAQ</span></h2>
    <div class="accordion" id="faqAccordion">
      <div class="accordion-item wow animated slideInUp">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            What are mobile app development services?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Mobile App Development Services is a procedure of creating the perfect applications for the mobile platforms like android, iOS, and windows. The development process consists of wire framing, designing, developing, testing, and deployment of the application.
          </div>
        </div>
      </div>
      <div class="accordion-item wow animated slideInUp">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Can you provide me a fixed-price quote?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Yes, we can. Previous to start on, we would like you to have project specifications in place that we can further delve into, to provide as precise a quote as probable at the pre-sales stage.
          </div>
        </div>
      </div>
      <div class="accordion-item wow animated slideInUp">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            What services do app developers offer?
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Here is the list of important services provided by app developers:
            Cross-platform app development
            End-to-end mobile app development services for iOS, Android, and windows
            Mobile App UI Design
            Enterprise mobility resolutions
            Native App Development
            Support and maintenance
          </div>
        </div>
      </div>
      <div class="accordion-item wow animated slideInUp">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            How do you make sure that you make what I wish for, and do not get it wrong?
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            In our experience, the discovery phase is the most important reason for why projects do not succeed. As a result, we go into a lot of effort to be aware of your requirement and to document them by creating the wireframes, use cases, etc.
          </div>
        </div>
      </div>
      <div class="accordion-item wow animated slideInUp">
        <h2 class="accordion-header" id="headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Will I own the source code?
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Yes
          </div>
        </div>
      </div>
      <div class="accordion-item wow animated slideInUp">
        <h2 class="accordion-header" id="headingSix">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            Do you provide ongoing support, maintenance and updates?
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Yes, we offer these services. Our model of engagement for these services is to present an agreed upon number of hours per month. These hours can be utilized however considered necessary, can carry forward to the next month, and extra hours required are also agreed upon by both parties.
          </div>
        </div>
      </div>
      <div class="accordion-item wow animated slideInUp">
        <h2 class="accordion-header" id="headingSeven">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            Can you market my mobile application?
          </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Owing to our vast experience, we offer a degree of tactical support just about your business as per your expectations and we can put together social media & e-mail marketing channels to your mobile application. However, we also provide marketing services and thus do efficiently offer the services of a digital marketing agency.
          </div>
        </div>
      </div>
      <div class="accordion-item wow animated slideInUp">
        <h2 class="accordion-header" id="headingEight">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            Do I require testing the mobile application as well?
          </button>
        </h2>
        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Yes and no. We have quality assurance analysts (QA) who will test the mobile app, and QA is an imperative aspect of development that we take account of for all our projects. On the other hand, the way we think and utilize your app may well be diverse to how you will. Therefore, it’s significant that you also make available with the inputs & support the testing of project. Of course, this is more a request than a requirement.
          </div>
        </div>
      </div>
      <div class="accordion-item wow animated slideInUp">
        <h2 class="accordion-header" id="headingNine">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            What factors persuade the cost of mobile app development?
          </button>
        </h2>
        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Costs rely upon the app’s intricacy, features, the platform (iOS, Android, or both), design requirements, and the expertise of the development team.
          </div>
        </div>
      </div>
      <div class="accordion-item wow animated slideInUp">
        <h2 class="accordion-header" id="headingTen">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
            How long does it take to develop a mobile app?
          </button>
        </h2>
        <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            App development in general takes 3 to 12 months, depending on the app’s complexity, features, and platform requirements.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
