<header class="header-section d-flex justify-content-center align-items-center position-relative">
  <%= image_tag 'theme1/modifyimg/banner_bg.jpg' , class: 'homepage-banner-bg' , alt: '' %>
    <div class="container inner-header-section position-absolute top-5 d-flex gap-3 align-items-center">
      <div class="" style="flex: 1;">
        <p class="header-content-bold wow animated slideInUp">App Development</p>
        <p class="fs-6 text-white mt-3 wow animated slideInUp">
          App development services refer to the formation of software applications that are designed to operate on the mobile devices, such as smartphones and tablets. The procedure of creating these apps, more often than not, includes creating a user interface and design, coding the logic of the app, testing the app, and then making it accessible for download all the way through an App Store or Google Play.
        </p>
        <%= button_to "Contact us" , theme1_home_contact_section_path,method: :get, class: "custom-btn mt-sm-5 mt-4 wow animated slideInUp text-decoration-none" %>
      </div>
      <div style="flex: 1; text-align: center;">
        <%= image_tag 'theme1/precious/Service page/app development(services).svg' , class: 'homepage-side-img' ,
          width: '100%' , alt: '' %>
      </div>
    </div>
</header>
