<section class="container mx-auto row d-flex align-items-center about-section mb-5">
  <p class="heading-text text-center wow animated zoomIn">
    Our <span class="primary-color">Project</span>
  </p>
  <p class="mt-5 wow animated zoomIn" style="max-width: 767px; margin: auto; text-align: center; line-height: 1.3;">
    Explore our portfolio to find out a varied range of projects that reflect our fervor for crafting visually
    eye-catching and user-centric resolutions. Let us on familiar terms with your project idea and get a hold of a free
    consultation to turn it into an astounding digital product.</p>

  <div class="d-flex portfolio-img-parent-div justify-content-center gap-3 flex-wrap mt-5">
    <div class="portfolio-img-div position-relative wow animated slideInUp">
      <div class="portfolio-content justify-content-between position-absolute">
        <p class="" style="font-size: 14px; font-weight: 700;">Lorem, ipsum dolor.</p>
        <button class="custom-btn mt-0 py-1 px-2">
          <a href="" class="text-decoration-none" style="font-size: 12px;">Visit Website</a>
        </button>
      </div>
      <%= image_tag 'theme1/feature-2.png' , alt: '' %>
    </div>
    <div class="portfolio-img-div position-relative wow animated slideInUp">
      <div class="portfolio-content justify-content-between position-absolute">
        <p class="" style="font-size: 14px; font-weight: 700;">Lorem, ipsum dolor.</p>
        <button class="custom-btn mt-0 py-1 px-2">
          <a href="" class="text-decoration-none" style="font-size: 12px;">Visit Website</a>
        </button>
      </div>
      <%= image_tag 'theme1/about.png' , alt: '' %>
    </div>
    <div class="portfolio-img-div position-relative wow animated slideInUp">
      <div class="portfolio-content justify-content-between position-absolute">
        <p class="" style="font-size: 14px; font-weight: 700;">Lorem, ipsum dolor.</p>
        <button class="custom-btn mt-0 py-1 px-2">
          <a href="" class="text-decoration-none" style="font-size: 12px;">Visit Website</a>
        </button>
      </div>
      <%= image_tag 'theme1/review.png' , alt: '' %>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-3">
    <%= link_to 'View All' , theme1_home_portfolio_path, class: 'custom-btn text-decoration-none' %>
  </div>
</section>
