<section class="container mx-auto row d-flex align-items-center about-section mb-5">
  <p class="heading-text text-center wow animated slideInUp">
    Web Development <span class="primary-color">Company</span>
  </p>

  <div class="row d-flex align-items-center mt-5">
    <div class="col-md-6 col-12 pe-md-3  wow animated slideInLeft">
      <div class="project-detail mt-3">
        Precious Infosytem UI UX design services offer a holistic, end-to-end experience from the design development stage to make sure for an instinctive user experience, making us a foremost company in the field. With a focus on user-centered design and its alliance with technology, we are familiar with the significance of making attractive experiences. 
      </div>
      <div class="project-detail mt-3">
        Our UX design process challenges us to keep designs interactive and user-centric, keeping us to the front of the curve. Our time-bound strategy ensures that we attain your goals proficiently, without compromising on quality. We understand that patience is necessary for a successful business, but we also recognize the importance of delivering results in a timely manner.
      </div>
      <div class="project-detail mt-3">
        Our resolutions are always competitive in the industry, with a focus on efficiency, correctness, and delivering a consumer-grade user experience that eventually produces better ROI for businesses.
      </div>
      <button class="custom-btn">
        <a href="index.html#contactsection" class="text-decoration-none">Get a Quote</a>
      </button>
    </div>
    <div class="col-md-6 col-12 order-0 order-md-1 pt-5 pt-md-0 wow animated slideInRight text-center">
      <%= image_tag 'theme1/precious/Service page/graphic about img.svg', class: 'webdev-img', width: '100%', style: 'max-width: 500px;', alt: '' %>
    </div>
  </div>
</section>
