<header class="header-section d-flex justify-content-center align-items-center position-relative">
  <%= image_tag 'theme1/modifyimg/banner_bg.jpg', class: 'homepage-banner-bg', alt: 'Banner background' %>
  <div class="container inner-header-section position-absolute top-5 d-flex gap-3 align-items-center">
    <div class="" style="flex: 1;">
      <p class="header-content-bold wow animated slideInUp">Graphic Design</p>
      <p class="fs-6 text-white mt-3 wow animated slideInUp">
        To succeed in any digital product or service, it is essential to have UX/UI design. With UX/UI design, the focus lies on enhancing the whole user experience by making the interface well-organized, instinctive, and visually tempting.  Having a good UX/UI design will not only improve user approval but will also boost engagement and conversion rates.
      </p>
      <%= button_to "Contact us" , theme1_home_contact_section_path,method: :get, class: "custom-btn mt-sm-5 mt-4 wow animated slideInUp text-decoration-none" %>
    </div>
    <div style="flex: 1; text-align: center;">
      <%= image_tag 'theme1/precious/Service page/graphic (serice page).svg', class: 'homepage-side-img', width: '100%', alt: '', style: 'max-width: 600px;' %>
    </div>
  </div>
</header>
