<header class="header-section d-flex justify-content-center align-items-center position-relative">
  <%= image_tag 'theme1/modifyimg/banner_bg.jpg', class: 'homepage-banner-bg', alt: 'Banner background' %>
    <div class="container inner-header-section position-absolute top-5 d-flex gap-3 align-items-center">
      <div class="" style="flex: 1;">
        <p class="header-content-bold wow animated slideInUp">Digital Marketing Agency</p>
        <p class="fs-6 text-white mt-3 wow animated slideInUp">
          Partner with a foremost digital marketing agency to raise the brand awareness, get to your target audience & grow your business online.
          Optimize Targeted Audiences
          Produce Qualified Leads
          Boost Brand Authority
        </p>
        <%= button_to "Contact us" , theme1_home_contact_section_path,method: :get, class: "custom-btn mt-sm-5 mt-4 wow animated slideInUp text-decoration-none" %>
      </div>
      <div style="flex: 1; text-align: center;">
        <%= image_tag 'theme1/precious/Service page/digital marketing (serice page).svg', class: 'homepage-side-img', width: '100%', alt: '' %>
      </div>
    </div>
</header>
