<section class="faq-section mt-5 pt-3">
  <div class="container my-5">
    <h2 class="text-center mb-4 heading-text mb-5 wow animated zoomIn">Digital Marketing <span
        class="primary-color"> FAQ</span></h2>
    <div class="accordion" id="faqAccordion">
      <div class="accordion-item wow animated slideInUp">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            What is Digital Marketing?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Digital marketing is leveraging digital technologies and channels to link organizations with existing and prospective customers. It helps businesses expand, despite the constraints like place, by enabling them to reach the targeted viewers. It is a method to control audiences online - be it through a website, blogs, video content, social media, or partnerships. Digital Marketing is a continually evolving field and marketers must continuously be up-to-date and informed to stay to the front of competitors.
          </div>
        </div>
      </div>
      <div class="accordion-item wow animated slideInUp">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            How do I select a digital marketing agency?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            When looking for a digital marketing company, look out for the following:
            <ul>
              <li> Do they have an entire suite of services?</li>
              <li> Do they have an inspiring list of clients?</li>
              <li> Do they have industry detection?</li>
              <li> Client approval across the board</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item wow animated slideInUp">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Why select Precious Infosystem as your digital marketing company?
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Complete digital marketing services
            We pride ourselves in being a full-suite digital services company in India and beyond. Whether you require a website designed, promoting your app or have the SEO requirements (or all the above) we can flawlessly work together to help you attain transformational growth.
            Awards and recognition
            We have been awarded several times for the good work we have completed for our clients and have even been called upon for our expertise in judging case studies. Some of our many awards include: Our clients vary from the foremost BFSI companies in India to telecom and healthcare giants. For a more comprehensive view of our client list, please visit our portfolio.
          </div>
        </div>
      </div>
      <div class="accordion-item wow animated slideInUp">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Why invest in digital marketing?
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Best ROI
            Digital marketing can provide you the maximum beat for your buck – with noticeably less outlay than TV, print or outdoors but with extraordinary results.
            Quantify your success
            The digital medium lets you to precisely track, monitor and measure the success of your campaign with keyword tracking, analytics, CPCs, traffic and analyzing likes & followers. Course correction is simpler to execute mid-campaign too.
          </div>
        </div>
      </div>
      <div class="accordion-item wow animated slideInUp">
        <h2 class="accordion-header" id="headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            What does a digital marketing agency do?
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            A digital marketing agency drives results-based marketing strategy; focusing on delivering ROI and helping a brand accomplish its objectives via digital skills and technology. They develop tactics to exploit awareness and obtain leads. Digital agencies require being fast-paced and balance user-experience with brand viewpoint.
          </div>
        </div>
      </div>
      <div class="accordion-item wow animated slideInUp">
        <h2 class="accordion-header" id="headingSix">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            How digital marketing helps businesses promote their services and products?
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            When you opt for digital marketing, it assists you in the following ways:
            <ul>
              <li>Expand your market reach</li>
              <li>Build a long-term link with your customers</li>
              <li>Better visibility</li>
              <li>Reasonable services but higher revenue</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item wow animated slideInUp">
        <h2 class="accordion-header" id="headingSeven">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            What are the best and result-oriented digital marketing activities?
          </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Our digital marketing services involve
            <ul>
              <li>Search Engine Optimization (SEO)</li>
              <li>Social Media Optimization (SMO)</li>
              <li>Search Engine Marketing (SEM)</li>
              <li>Social Media Marketing (SMM)</li>
              <li>Pay-Per-Click Advertising (PPC)</li>
              <li>Content Marketing</li>
              <li>Affiliate Marketing</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item wow animated slideInUp">
        <h2 class="accordion-header" id="headingEight">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            What is brand awareness in digital marketing?
          </button>
        </h2>
        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            In digital marketing, brand awareness means making a solid digital individuality of your business for the targeted customers. It helps you create and spread information about your services/products and brand. This action is considered more helpful and result-driven when you launch a new product or initiate something new related to your brand.
          </div>
        </div>
      </div>
      <div class="accordion-item wow animated slideInUp">
        <h2 class="accordion-header" id="headingNine">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            How much do digital marketing services cost?
          </button>
        </h2>
        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Prices for digital marketing services rely upon the number of services, and the service plan you select. On average, small-to-midsized businesses will spend around $51 to $10,000 per month on proficient online marketing services.
          </div>
        </div>
      </div>
      <div class="accordion-item wow animated slideInUp">
        <h2 class="accordion-header" id="headingTen">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
            How do I choose a digital marketing agency?
          </button>
        </h2>
        <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            You can help your business employ the best digital marketing agency by following these tips
            <ul>
              <li>Outline your objectives (or what you desire to attain) with online marketing</li>
              <li>Compile a list of the services you require</li>
              <li>Determine your monthly budget for online marketing</li>
              <li>Make a list of agencies that meet your budget and provide the required service.</li>
              <li>Review each qualifying agency’s reviews, testimonials, and case studies</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
