<header class="header-section d-flex justify-content-center align-items-center position-relative">
    <%= image_tag "theme1/modifyimg/banner_bg.jpg", class: "homepage-banner-bg", alt: "Banner Background" %>
    <div class="container inner-header-section position-absolute top-5 d-flex gap-3 align-items-center">
        <div class="" style="flex: 1;">
            <p class="header-content-bold wow animated slideInUp">Essential Guidelines for Hiring the Perfect Ruby on Rails Software Developer</p>
            <%= button_to "Contact us" , theme1_home_contact_section_path,method: :get, class: "custom-btn mt-sm-5 mt-4 wow animated slideInUp text-decoration-none" %>
        </div>
        <div style="flex: 1; text-align: center;">
          <%= image_tag "theme1/precious/Blog page/blog main page.svg", class: "homepage-side-img", width: "100%", alt: "Blog Main Page" %>
        </div>
    </div>
</header>
