<header class="header-section d-flex flex-column justify-content-center align-items-center position-relative career-page-header">
  <div class="overlay wow animated zoomIn"></div>
  <p class="career-header-content wow animated zoomIn">FAQ</p>
</header>
