<section class="feature-section mt-3 mt-md-5 pt-5 pb-5">
  <div class="feature-overlay"></div>
  <div class="inner-feature-div container mx-auto">
    <p class="fs-1 fw-bold text-white wow animated zoomIn">
      We provide high quality services & innovative solutions for the
      realiable growth
    </p>
      <button class="custom-btn mt-5 mx-auto wow animated zoomIn">Get a Quotes</button>
  </div>
</section>
