<section class="container position-relative mx-auto row d-flex align-items-center about-section">
  <div class="row d-flex align-items-center">
      <div class="col-md-6 col-12 pe-md-3 wow animated slideInLeft">
          <div class="project-detail mt-3">
              Seasoned Programmers for Cutting-edge Application Development
              Precious Infosystem is a famous name in the web application development field. Our development services provide you the freedom of decreased costs & ease of resource usage as per the necessity. We have a 50+ team of expert developers, well-versed with the most recent tools and technologies to deliver outstanding applications. With hands-on experience in developing over 500+ applications, it’s the brilliance of our programmers and their ideas which instigates the modernization running through the whole thing we do. We are aware of the importance of staying up-to-date with the newest technology. Our experts can proficiently update your present website platform and take on board of it with the latest version, guaranteeing the most excellent possible performance.
          </div>
          <button class="custom-btn">
              <a href="index.html#contactsection" class="text-decoration-none">Our Service</a>
          </button>
      </div>
      <div class="col-md-6 col-12 order-0 order-md-1 text-center pt-5 pt-md-0 wow animated slideInRight">
          <%= image_tag 'theme1/precious/Hire page/hire page About us.svg',class: "webdev-img", style: "max-width: 450px; border-radius: 12px;", width: "100%", alt: "" %>
      </div>
  </div>
</section>
