<header class="header-section d-flex justify-content-center align-items-center position-relative">
  <%= image_tag "theme1/modifyimg/banner_bg.jpg", class: "homepage-banner-bg", alt: "" %>
  <div class="container inner-header-section position-absolute top-5 d-flex gap-3 align-items-center">
      <div class="" style="flex: 1;">
          <p class="header-content-bold wow animated slideInUp">Hire Us</p>
          <p class="fs-6 text-white mt-3 wow animated slideInUp">
            Hire us for future-ready resolutions at 50% cost savings and 2x quicker delivery. At Precious Infosystem, we assure you 100 percent work approval. Bring your web application idea to life and augment your existing project. Take into service of our developers to build strong and scalable web applications tailored to your distinctive business needs. 
          </p>
          <%= button_to "Contact us" , theme1_home_contact_section_path,method: :get, class: "custom-btn mt-sm-5 mt-4 wow animated slideInUp text-decoration-none" %>
      </div>
      <div style="flex: 1; text-align: center;">
        <%= image_tag "theme1/precious/Hire page/main banner hire page.svg", class: "homepage-side-img", width: "100%", alt: "" %>
      </div>
  </div>
</header>
