<header
  class="header-section d-flex justify-content-center align-items-center position-relative hire-page-header">
  <div class="overlay wow animated zoomIn"></div>
  <p class="career-header-content wow animated zoomIn">Hire Us</p>
</header>
