<header
  class="header-section d-flex justify-content-center align-items-center position-relative hire-page-header">
  <div class="overlay"></div>
  <p class="career-header-content">Hire Us</p>
</header>
