<header class="header-section d-flex justify-content-center align-items-center position-relative">
  <%= image_tag 'theme1/modifyimg/banner_bg.jpg', class: "homepage-banner-bg", alt:"" %>
  <div class="container inner-header-section position-absolute top-5 d-flex gap-3 align-items-center">
    <div class="" style="flex: 1;">
      <p class="header-content-bold wow animated slideInUp">Web Development</p>
      <p class="fs-6 text-white mt-3 wow animated slideInUp">
        The Internet has lots of active users and billions of users, in general, this means that if your business is not online you are losing many potential customers. Those people are in necessity of the service or product that your company offers but are not alert of your business.
        Here at Precious Infosystem, our team of web designers and web developers are assisting businesses to make the best website for their businesses. The websites are set with the proper site structure, rich in user-interface, user experience, clean- codes and the SEO friendly nature. We have made websites for many diverse businesses belonging to different industries that’s why we have an astonishing experience of mark-up languages, adobe Photoshop, HTML5, CSS3 (Cascading style sheets), web pages & other design tools.
      </p>
      <%= button_to "Contact us" , theme1_home_contact_section_path,method: :get, class: "custom-btn mt-sm-5 mt-4 wow animated slideInUp text-decoration-none" %>
    </div>
    <div style="flex: 1; text-align: center;">
      <%= image_tag 'theme1/Sevices page/services inner pages/banner/web devlopment (serice page).png', class: "homepage-side-img",width:"100%", alt:"" %>
    </div>
  </div>
</header>
