<section class="container mx-auto row d-flex align-items-center about-section mb-5">
  <p class="heading-text text-center wow animated slideInUp">
      Web Development <span class="primary-color">Company</span>
  </p>

  <div class="row d-flex align-items-center mt-5">
      <div class="col-md-6 col-12 pe-md-3 wow animated slideInLeft">
          <div class="project-detail mt-3">
             The first thing that a customer notices on a site is the page’s User-interface, speed, and design. These things are the first notion of your business and our squad takes care of all. If you have a site that is not conversion-optimized, SEO-friendly, or mobile-responsive then it is inferior. At Precious Infosystem, we are on familiar terms with the worth of a good business site that’s why we offer the finest service to our clients and this is the cause we are recognized to be the best website development company in India.
          </div>
          <button class="custom-btn">
              <a href="index.html#contactsection" class="text-decoration-none">Get a Quote</a>
          </button>
      </div>
      <div class="col-md-6 col-12 order-0 order-md-1 pt-5 pt-md-0 wow animated slideInRight text-center">
        <%= image_tag 'theme1/precious/Service page/Web devleopment about img.svg', class: "webdev-img",width:"100%",style:"max-width: 600px;", alt:"" %>
      </div>
  </div>
</section>
