<section class="review-section bg-light">
  <h5 class="heading-text text-center text-dark">
    See What Our <span class="primary-color">Clients</span> Are Saying
  </h5>
  <div class="inner-review wow animated slideInUp">
    <div class="review-parent-div">
      <div class="owl-carousel owl-carousel-review owl-theme d-block mt-5">
        <div class="item d-flex gap-3 align-items-center position-relative">
          <div class="review-img">
            <%= image_tag 'theme1/testimonial1.png' ,class: "reviewer-img" , alt: '' %>

          </div>
          <div class="review-content">
            <div class="review-text">
              Over the past four years, I have engaged in multiple projects with Precious Infosystem, and I am thoroughly delighted with their contributions. They consistently address any queries that arise promptly, embodying a team that adeptly transforms my ideas into reality. I couldn't envision a more capable and responsive team to collaborate with.
            </div>
            <div class="reviewer-name">John Smith</div>
            <!-- <div class="reviewer-post">CEO, Founder of XYZ</div> -->
          </div>
        </div>
        <div class="item d-flex gap-3 align-items-center position-relative">
          <div class="review-img">
            <%= image_tag 'theme1/testimonial2.jpg' ,class: "reviewer-img" , alt: '' %>
          </div>
          <div class="review-content">
            <div class="review-text">
              I have consistently found Precious Infosystem to be a dependable collaborator in my website development endeavors. Their responsiveness to my requests has been impressive, and their technical proficiency has remained consistently impressive over the course of our partnership.
            </div>
            <div class="reviewer-name">Brett Black</div>
            <!-- <div class="reviewer-post">CEO, Founder of XYZ</div> -->
          </div>
        </div>
        <div class="item d-flex gap-3 align-items-center position-relative">
          <div class="review-img">
            <%= image_tag 'theme1/testimonial3.jpg' ,class: "reviewer-img" , alt: '' %>
          </div>
          <div class="review-content">
            <div class="review-text">
              Working with the Precious Infosystem was a delightful experience. They exhibited responsiveness, clear communication, and a genuine willingness to engage with all facets of the project. Their diligent efforts and evident sense of pride in their work were truly commendable.
            </div>
            <div class="reviewer-name">Kevin Davis</div>
            <!-- <div class="reviewer-post">CEO, Founder of XYZ</div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
