<section class="review-section bg-light">
        <h5 class="heading-text text-center text-dark">
            See What Our <span class="primary-color">Clients</span> Are Saying
        </h5>
        <div class="inner-review wow animated slideInUp">
            <div class="review-parent-div">
                <div class="owl-carousel owl-carousel-review owl-theme d-block mt-5">
                    <div class="item d-flex gap-3 align-items-center position-relative">
                      <div class="review-img">
                          <%# <img class="reviewer-img" src="assets/images/consultant.png" alt=""> %>
                          <%= image_tag 'theme1/consultant.png',class: "reviewer-img", alt: '' %>

                      </div>
                      <div class="review-content">
                          <div class="review-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur 
                          </div>
                          <div class="reviewer-name">John Smith</div>
                          <div class="reviewer-post">CEO, Founder of XYZ</div>
                      </div>
                    </div>
                    <div class="item d-flex gap-3 align-items-center position-relative">
                      <div class="review-img">
                          <%# <img class="reviewer-img" src="assets/images/consultant.png" alt=""> %>
                          <%= image_tag 'theme1/consultant.png',class: "reviewer-img", alt: '' %>
                      </div>
                      <div class="review-content">
                          <div class="review-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur 
                          </div>
                          <div class="reviewer-name">John Smith</div>
                          <div class="reviewer-post">CEO, Founder of XYZ</div>
                      </div>
                    </div>
                    <div class="item d-flex gap-3 align-items-center position-relative">
                      <div class="review-img">
                          <%# <img class="reviewer-img" src="assets/images/consultant.png" alt=""> %>
                          <%= image_tag 'theme1/consultant.png',class: "reviewer-img", alt: '' %>
                      </div>
                      <div class="review-content">
                          <div class="review-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur 
                          </div>
                          <div class="reviewer-name">John Smith</div>
                          <div class="reviewer-post">CEO, Founder of XYZ</div>
                      </div>
                    </div>
                </div>
              </div>
        </div>
    </section>