<section class="container mx-auto row d-flex align-items-center about-section">
  <p class="heading-text text-center">Available <span class="primary-color">Jobs</span></p>
  <div class="d-flex gap-2 flex-wrap justify-content-center mb-5 mt-5 " >
      <div class="job-inner-section">
          <p class="job-heading d-flex justify-content-between align-items-center">Full Stack Developer </h5>
          <ul class="ps-0">
              <li>- Full Time </li>
              <li>- Experience: 3+ Years</li>
              <li>- Location: Indore</li>
              <li style="line-height: 1.4;">- Key Skills: ReactJS, MongoDB, HTML, CSS</li>
              <li><button onclick="applyDetailModalOpen()" style="border: none; background-color: transparent; text-decoration: underline;">Read More</button></li>
          </ul>
      </div>
      <div class="job-inner-section">
          <p class="job-heading d-flex justify-content-between align-items-center">Full Stack Developer </h5>
          <ul class="ps-0">
              <li>- Full Time </li>
              <li>- Experience: 3+ Years</li>
              <li>- Location: Indore</li>
              <li style="line-height: 1.4;">- Key Skills: ReactJS, MongoDB, HTML, CSS</li>
              <li><button onclick="applyDetailModalOpen()" style="border: none; background-color: transparent; text-decoration: underline;">Read More</button></li>
          </ul>
      </div>
      <div class="job-inner-section">
          <p class="job-heading d-flex justify-content-between align-items-center">Full Stack Developer </h5>
          <ul class="ps-0">
              <li>- Full Time </li>
              <li>- Experience: 3+ Years</li>
              <li>- Location: Indore</li>
              <li style="line-height: 1.4;">- Key Skills: ReactJS, MongoDB, HTML, CSS</li>
              <li><button onclick="applyDetailModalOpen()" style="border: none; background-color: transparent; text-decoration: underline;">Read More</button></li>
          </ul>
      </div>
      <div class="job-inner-section">
          <p class="job-heading d-flex justify-content-between align-items-center">Full Stack Developer </h5>
          <ul class="ps-0">
              <li>- Full Time </li>
              <li>- Experience: 3+ Years</li>
              <li>- Location: Indore</li>
              <li style="line-height: 1.4;">- Key Skills: ReactJS, MongoDB, HTML, CSS</li>
              <li><button onclick="applyDetailModalOpen()" style="border: none; background-color: transparent; text-decoration: underline;">Read More</button></li>
          </ul>
      </div>
      <div class="job-inner-section">
          <p class="job-heading d-flex justify-content-between align-items-center">Full Stack Developer </h5>
          <ul class="ps-0">
              <li>- Full Time </li>
              <li>- Experience: 3+ Years</li>
              <li>- Location: Indore</li>
              <li style="line-height: 1.4;">- Key Skills: ReactJS, MongoDB, HTML, CSS</li>
              <li><button onclick="applyDetailModalOpen()" style="border: none; background-color: transparent; text-decoration: underline;">Read More</button></li>
          </ul>
      </div>
      <div class="job-inner-section">
          <p class="job-heading d-flex justify-content-between align-items-center">Full Stack Developer </h5>
          <ul class="ps-0">
              <li>- Full Time </li>
              <li>- Experience: 3+ Years</li>
              <li>- Location: Indore</li>
              <li style="line-height: 1.4;">- Key Skills: ReactJS, MongoDB, HTML, CSS</li>
              <li><button onclick="applyDetailModalOpen()" style="border: none; background-color: transparent; text-decoration: underline;">Read More</button></li>
          </ul>
      </div>
  </div>
</section>
