<header class="header-section d-flex flex-column justify-content-center align-items-center position-relative career-page-header">
  <div class="overlay"></div>
  <p class="career-header-content">Join The Team</p>
  <button class="custom-btn" style="z-index: 9;" onclick="applyModalOpen()">Apply for Job</button>
</header>