<section class="container mx-auto row d-flex align-items-center about-section">
  <div class="col-md-6 col-12 order-1 order-md-0 wow animated slideInLeft text-center">
      <%= image_tag 'theme1/precious/Career/career about img.svg', class: "about-img", width: "100%", alt: "",style: "box-shadow: none; object-fit: contain;" %>
  </div>
  <div class="col-md-6 col-12 text-center ps-md-3 wow animated slideInRight">
      <p class="heading-text mb-3">Build Your Career <span class="primary-color">With Us</span></p>
      <p class="about-content">
        Our work culture is based on providing equal options, a medium of teamwork, and open communiqué in the middle of employees. In our corporative and helpful work atmosphere, you have the space to represent your artistic ideas, get caught up in the team discussions and gain knowledge from the highly skilled proficients.
      </p>
      <p class="about-content2">
        We definitely accept as true that inspiration is the key to the victory of every project, thus we are grateful to a zealous team member all the way through the journey. We work together as a team to come up with the pioneering ideas that can attain results that look like possible. At Precious Infosystem, we go on with a design, and develop complex and difficult projects by means of advanced technologies to bring about the target goals.
      </p>
  </div>
</section>

<section class="company-feature mt-5 pt-5" style="background-color:rgba(250, 235, 215, 0.607);">
  <div class="container">
      <p class="heading-text text-center mt-4 mb-5 wow animated zoomIn"> Employee  <span class="primary-color">Perks</span></p>
      <div class="d-flex mt-4">
          <div class="pb-5 mt-lg-5 wow animated slideInLeft">
              <h6 class="feature-heading">Our fantastic work culture makes us exclusive</h6>
              <p class="feature-content-text">We make a culture that offers a respite to each newcomer making them a vital part of a proficient team.</p>

              <h6 class="feature-heading">Innovative infrastructure</h6>
              <p class="feature-content-text">Through the interactive sessions, we make possible to the team to insert new skills & knowledge.</p>

              <h6 class="feature-heading">Smart Work Culture</h6>
              <p class="feature-content-text">Our working hours are flexible making the lives of our workforce smarter & easier.</p>

              <h6 class="feature-heading">Community Meet-ups</h6>
              <p class="feature-content-text">Be trained from the acquaintance of an experienced team and by the expert networks.</p>

              <h6 class="feature-heading">Training & Internship</h6>
              <p class="feature-content-text">For each level of career, we put forward the training programs in a variety of fields.</p>

              <h6 class="feature-heading">Weekly Meetings</h6>
              <p class="feature-content-text">We give a recreation to our human resources on weekends by conducting meetings only.</p>
          </div>
          <div class="perk-img wow animated slideInRight">
              <%= image_tag 'theme1/perks.png', width: "100%", alt: '' %>
          </div>
      </div>
  </div>
</section>
