<section class="container mx-auto row d-flex align-items-center about-section">
  <div class="col-md-6 col-12 order-1 order-md-0 wow animated slideInLeft">
      <%= image_tag 'theme1/careerpageabout.png', class: "about-img", width: "100%", alt: "",style: "box-shadow: none; object-fit: contain;" %>
  </div>
  <div class="col-md-6 col-12 text-center ps-md-3 wow animated slideInRight">
      <p class="heading-text mb-3">Build Your Career <span class="primary-color">With Us</span></p>
      <p class="about-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, beatae quasi. Consequuntur aperiam eaque quis commodi deserunt nobis, accusamus porro exercitationem voluptatibus sint cum voluptatem nulla nesciunt ut explicabo aut odit nemo rerum eum architecto voluptates tempora illum. Ad eos quam doloribus earum ab quo dignissimos, maiores atque dicta! Ratione vel commodi ipsum minima provident 
      </p>
      <p class="about-content2">
          necessitatibus inventore reprehenderit aperiam debitis officiis fuga ut aspernatur, architecto, ipsam facere. Quas iure, tempora reiciendis quod beatae, minus excepturi maiores vel voluptate fugiat
      </p>
  </div>
</section>

<section class="company-feature mt-5 pt-5" style="background-color:rgba(250, 235, 215, 0.607);">
  <div class="container">
      <p class="heading-text text-center mt-4 mb-5 wow animated zoomIn"> Employee  <span class="primary-color">Perks</span></p>
      <div class="d-flex mt-4">
          <div class="pb-5 mt-lg-5 wow animated slideInLeft">
              <h6 class="feature-heading">Flexible Work Hours</h6>
              <p class="feature-content-text">Want to take Friday off or work from home all week? No problem!
                  We trust our employees and truly believe in work-life balance as a key to productive work.</p>

              <h6 class="feature-heading">Healthcare</h6>
              <p class="feature-content-text">Our comprehensive healthcare package includes dental coverage and options to cover your whole family.</p>

              <h6 class="feature-heading">Best Working Environment</h6>
              <p class="feature-content-text">Our modern offices have everything you need in your daily work: sit/stand workstations, free food (drinks/coffee, fruits, cookies, etc.), spaces to relax, PlayStation, ping-pong table, and free parking for your car or a bike.</p>

              <h6 class="feature-heading">Room to Grow</h6>
              <p class="feature-content-text">We make sure everyone has an opportunity to grow.
                  Found something you want to learn? Great! We'll pay for your training/education.</p>

              <h6 class="feature-heading">Everyone Has a Voice</h6>
              <p class="feature-content-text">Innovation doesn't have a hierarchy. We make sure everyone is heard, considered and respected.</p>

              <h6 class="feature-heading">Sports</h6>
              <p class="feature-content-text">We subsidize your gym membership, or fees for any other sport you prefer.
                  Also you're welcome to join our basketball team playing once a week near the office.</p>
          </div>
          <div class="perk-img wow animated slideInRight">
              <%= image_tag 'theme1/perks.png', width: "100%", alt: '' %>
          </div>
      </div>
  </div>
</section>
