<header class="header-section d-flex justify-content-center align-items-center position-relative">
    <%= image_tag "theme1/modifyimg/banner_bg.jpg", class: "homepage-banner-bg", alt: "" %>
    <div class="container inner-header-section position-absolute top-5 d-flex gap-3 align-items-center">
        <div class="" style="flex: 1;">
            <p class="header-content-bold wow animated slideInUp">Blogs</p>
            <p class="fs-6 text-white mt-3 wow animated slideInUp">
              Precious Infosystem is a foremost web design company in India offering all types of web design
              and development resolutions at reasonable prices. Our frequently updated blog talks about the
              newest trends in the IT industry - mainly on topics like Web Development, Mobile Apps, Digital
              Marketing, IoT, Cyber security, etc.
            </p>
            <button class="custom-btn mt-sm-5 mt-4 wow animated slideInUp"><a class="text-decoration-none" href="#contactsection">Contact us</a></button>
        </div>
        <div style="flex: 1; text-align: center;">
          <%= image_tag "theme1/precious/Blog page/blog main page.svg", class: "homepage-side-img", width: "100%", alt: "" %>
        </div>
    </div>
</header>
