<section class="container mx-auto row d-flex align-items-center about-section">
  <div class="col-md-6 col-12 order-1 order-md-0">
    <%= image_tag 'theme1/modifyimg/ABOUT US.png',class: "about-img wow animated slideInLeft", width: "100%", alt: '' %>
  </div>
  <div class="col-md-6 col-12 text-center ps-3">
      <p class="heading-text mb-3 wow animated zoomIn">
          ABOUT OUR <span class="primary-color">COMPANY</span>
      </p>
      <p class="about-content wow animated zoomIn">
        A tale of a fateful trip that started from this tropic port aboard
        this tiny ship today still wanted by the government they survive as
        soldiers of fortune to a deluxe apartment in the sky moving on up to
        the east side a family.
      </p>
      <p class="about-content2 wow animated zoomIn">
        The government they survive as soldiers of fortune baby if you've ever
        wondered the east side to a deluxe apartment.
      </p>
      <%= image_tag 'theme1/mission-value.png', class: "wow animated zoomIn", width: '60%', alt: '' %>
  </div>
</section>
