<section class="container mx-auto row d-flex align-items-center about-section">
  <div class="col-md-6 col-12 order-1 order-md-0">
    <%= image_tag 'theme1/modifyimg/ABOUT US.png',class: "about-img wow animated slideInLeft", width: "100%", alt: '' %>
  </div>
  <div class="col-md-6 col-12 text-center ps-3">
      <p class="heading-text mb-3 wow animated zoomIn">
          ABOUT OUR <span class="primary-color">COMPANY</span>
      </p>
      <p class="about-content wow animated zoomIn">
        With a strong focus on delivering the high-quality web resolutions, Precious infosystem has established itself as a trusted partner for businesses looking for setting up a strong online presence. With a keen team of skilled proficients and a commitment to brilliance, We offer a broad variety of web development services adapted to meet the exclusive requirements of its clients.
      </p>
      <%= image_tag 'theme1/mission-value.png', class: "wow animated zoomIn", width: '60%', alt: '' %>
  </div>
</section>
