<header class="header-section d-flex justify-content-center align-items-center position-relative">
  <%= image_tag 'theme1/modifyimg/banner_bg.jpg', class: "homepage-banner-bg", alt: "" %>
  <div class="container inner-header-section position-absolute top-5 d-flex gap-3 align-items-center">
    <div class="" style="flex: 1;">
      <p class="header-content-bold wow animated slideInUp">Our Service</p>
      <p class="fs-6 text-white mt-3 wow animated slideInUp">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas totam ab inventore architecto maiores quos!
        Debitis dolores qui laudantium molestias! ipsum dolor sit amet consec inventore architecto maiores quos! Debitis
        dolores qui laudantium molestias! ipsum dolor sit amet consec
      </p>
      <button class="custom-btn mt-sm-5 mt-4 wow animated slideInUp"><a class="text-decoration-none"
          href="#contactsection">Contact us</a></button>
    </div>
    <div style="flex: 1; text-align: center;">
      <%= image_tag "theme1/website design/precious/Sevices page/Main Service page/main_services_banner_icon.png", class: "homepage-side-img", width: "100%", alt: "" %>
    </div>
  </div>
</header>
