<section class="container position-relative mx-auto row d-flex align-items-center about-section mb-5">
  <div class="row d-flex align-items-center">
      <div class="col-md-6 col-12 pe-md-3 wow animated slideInLeft">
          <div class="project-detail mt-3">
              Web designing in imposing way is not only a line of work but a craze for our Company. Precious Infosystem is a topmost web designing company in Indore. We accept as true in the idea that good looking of any site is a first impression on the visitors. Good design of any site is the beginning point of any website. We are a squad of proficient designers, developers, marketers and IT specialists blending our knowledge and proficiency to make the outstanding designs and strategies, made to order to your business's desires and requirements. Precious Infosystem is a best web development company in India. We have an out of the ordinary team for Website Design who has been mixed up in designing the professional websites of all categories. If you are paying attention in web designing service in India, you can call us. We fetch the user-friendly and quick to respond web designs to the clients universally. Precious Infosystem is an award winning website designing company in Indore. We have also developed the custom eLearning Websites in India. Being a topmost website development company, our out-and-out team makes usage of the most modern technology.
          </div>
          <button class="custom-btn">
              <a href="index.html#contactsection" class="text-decoration-none">Get a Quote</a>
          </button>
      </div>
      <div class="col-md-6 col-12 order-0 order-md-1 text-center pt-5 pt-md-0 wow animated slideInRight">
          <%= image_tag 'theme1/website design/precious/Sevices page/Main Service page/About image main page.png',class: "webdev-img", style: "max-width: 450px; border-radius: 12px;", width: "100%", alt: "" %>
      </div>
  </div>
</section>
