<section class="faq-section mt-5 pt-3">
  <div class="container my-5">
    <h2 class="text-center mb-4 heading-text mb-5 wow animated zoomIn">Services <span class="primary-color">FAQ</span>
    </h2>
    <div class="accordion" id="faqAccordion">
      <div class="accordion-item wow animated slideInUp">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            Should I take into service of a website designer or web designing company?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            If your main point is to fiscally online selling your products like your machine, accessories or services
            with the well-known web design companies in Indore, India, relying upon your requirement, then you could opt
            for a web designing company. Precious Infosystem, provides absolute branding services at a very lesser cost.
          </div>
        </div>
      </div>
      <div class="accordion-item wow animated slideInUp">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            How to select the right web design company for business?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            You must reflect on these 3 imperative points prior to hiring a web design company for business.
            Added Benefits – analyze the added benefits that come by defaulting or as the new-fangled options with a
            website designing e.g. social media page added, mobile receptive added or Google map create.
            Brand Strength – Be aware of how well-built the company brand is and how probable it is to put in order the
            on-time services in case if you would like to live your website.
            Budget – Select the correct web design company for business that fits in your budget & offers outstanding
            discount options to go well with your needs.
          </div>
        </div>
      </div>
      <div class="accordion-item wow animated slideInUp">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Do I require website designing services?
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            If your business is monetarily reliant on online or if you have mass products or online services like a
            clothing store, online training etc. then you should get a hold of website designing services.
          </div>
        </div>
      </div>
      <div class="accordion-item wow animated slideInUp">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Which is the most excellent website design agency for business?
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            In your need, the most excellent website design agency for you will be the one that provides services to
            your team members rapidly and devoid of any hassle. SEO TASK is one of the most strong point and we make
            available with the custom-made designs for our precious clients in 2 weeks.
          </div>
        </div>
      </div>
      <div class="accordion-item wow animated slideInUp">
        <h2 class="accordion-header" id="headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            What technologies do you use for website development?
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            We have an practiced team of developers who are expert in PHP, HTML, CSS and JavaScript. In addition to
            this, our experts have an adequate knowledge of a number of other technologies and tools included in the
            procedure of website development.
          </div>
        </div>
      </div>
      <div class="accordion-item wow animated slideInUp">
        <h2 class="accordion-header" id="headingSix">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            How experienced are you at designing websites?
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Precious Infosystem is a well thought-of company recognized for its user-friendly website builder that
            caters to both beginners and experienced users. With their drag-and-drop interface, you can simply design
            and customize your website with no any coding knowledge. This instinctive platform lets you to select from a
            broad variety of templates, images, and fonts to make a professional-looking site that reflects your
            exclusive style and purpose.
          </div>
        </div>
      </div>
      <div class="accordion-item wow animated slideInUp">
        <h2 class="accordion-header" id="headingSeven">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            What kind of businesses have you created websites for?
          </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            <ul>
              <li>Retail and e-commerce</li>
              <li>Hospitality and tourism</li>
              <li>Food and catering services </li>
              <li>Construction and real estate</li>
              <li>Professional services</li>
              <li>Health and wellness</li>
              <li>Medical practitioners</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item wow animated slideInUp">
        <h2 class="accordion-header" id="headingEight">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            What do you mean by a search engine friendly website?
          </button>
        </h2>
        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            A search engine friendly website is designed to grade well on search engines by
            <ol>
              <li>Making it simple for search engines to crawl and index the site</li>
              <li>Ensuring that the content is high-quality, unique, and relevant to the audience</li>
              <li>Optimizing the website for speed and accessibility</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="accordion-item wow animated slideInUp">
        <h2 class="accordion-header" id="headingNine">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            How much money do I require spending for the development of a website for my business?
          </button>
        </h2>
        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Web development costs $1000 – $145,000 on average, with most businesses expending $1001 – $10,000 per year.
            There are different factors that influence web development pricing, involving the size of business and
            website, the scope of your project, your selected agency, and more.
          </div>
        </div>
      </div>
      <div class="accordion-item wow animated slideInUp">
        <h2 class="accordion-header" id="headingTen">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
            Is website development a long procedure? If yes, how many days does it take?
          </button>
        </h2>
        <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Yes, website development can be a long procedure, taking anywhere from one to six months relying upon the
            project's objectives and resources
            <ol>
              <li>Initial communiqué and goal setting: This phase can take one to three weeks.</li>
              <li>Making an action plan: This point can take one to two weeks.</li>
              <li>Design mockups and feedback: This step can take two to three weeks.</li>
              <li>In-depth development: This phase can take one to two months.</li>
              <li>Review and revision: This stage can take one to two weeks.</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
