<header class="header-section d-flex justify-content-center align-items-center position-relative">
        <video autoplay loop muted playsinline>
          <source src="<%= asset_path 'theme1/header-bg.mp4' %>" type="video/mp4" />
        </video>

        <div class="container inner-header-section position-absolute top-5">
            <p class="header-content wow animated slideInUp">Lorem ipsum dolor sit</p>
            <p class="header-content-bold mt-3 wow animated slideInUp">
                Lorem ipsum dolor sit amet consectetur
            </p>
            <button class="custom-btn mt-5 wow animated slideInUp">Contact us</button>
        </div>
</header>
