<section class="portfolio-detail-modal" id="onlineeducationsystem">
  <div class="applysection-overlay"></div>
  <div class="portfolio-modal-form">
    <div class="d-flex flex-column position-relative">
      <p class="cancel-icon" onclick="cancelOnlineEducationModelOpen()">X</p>
      <h3 class="fw-bold text-center mt-3 mb-2">
        Online Education System
      </h3>
      <h6 class="fw-bold text-center mb-5">
      </h6>
      <div style="max-height: 450px; overflow: auto; padding-inline: 12px;">
        <div class="d-flex gap-2 justify-content-between">
          <%= image_tag "theme1/online-education1.jpg", style: "border-radius: 12px; box-shadow: 0px 0px 5px lightgray; height: 220px; width: 100%; max-width: 32%; object-fit: cover;", alt: "" %>
          <%= image_tag "theme1/online-education2.jpg", style: "border-radius: 12px; box-shadow: 0px 0px 5px lightgray; height: 220px; width: 100%; max-width: 32%; object-fit: cover;", alt: "" %>
          <%= image_tag "theme1/online-education3.jpg", style: "border-radius: 12px; box-shadow: 0px 0px 5px lightgray; height: 220px; width: 100%; max-width: 32%; object-fit: cover;", alt: "" %>
        </div>        
        <div style="font-weight: 400; font-size: 14px; line-height: 1.3; margin-top: 12px;" class="text-center">
          Online education is a procedure of gaining skills and knowledge through electronic devices like computers, mobiles, laptops, etc using the internet. Online education makes it possible for tutors or mentors to reach all the students more flexibly and teach them the relevant skills more efficiently. The students who can not attend traditional regular classes now can also learn anything from anywhere using the internet.
        </div>
        <div class="text-center mt-3">
          <div>
            <h6 class="fw-bold text-center mt-5">
              Technologies We Use:
            </h6>
            <ul class="d-flex gap-5 justify-content-center mt-3">
              <li>Ruby on rails</li>
              <li>React</li>
              <li>Ruby</li>
              <li>JavaScript</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
