<section class="portfolio-detail-modal" id="travellingsystem">
  <div class="applysection-overlay"></div>
  <div class="portfolio-modal-form">
    <div class="d-flex flex-column position-relative">
      <p class="cancel-icon" onclick="cancelTravellingSystemModel()">X</p>
      <h3 class="fw-bold text-center mt-3 mb-2">
        Travel Management System
      </h3>
      <h6 class="fw-bold text-center mb-5">
      </h6>
      <div style="max-height: 450px; overflow: auto; padding-inline: 12px;">
        <div class="d-flex gap-2 justify-content-between">
          <%= image_tag "theme1/travel-management1.jpg", style: "border-radius: 12px; box-shadow: 0px 0px 5px lightgray; height: 220px; width: 100%; max-width: 32%; object-fit: cover;", alt: "" %>
          <%= image_tag "theme1/travel-management2.jpg", style: "border-radius: 12px; box-shadow: 0px 0px 5px lightgray; height: 220px; width: 100%; max-width: 32%; object-fit: cover;", alt: "" %>
          <%= image_tag "theme1/travel-management3.jpg", style: "border-radius: 12px; box-shadow: 0px 0px 5px lightgray; height: 220px; width: 100%; max-width: 32%; object-fit: cover;", alt: "" %>
        </div>        
        <div style="font-weight: 400; font-size: 14px; line-height: 1.3; margin-top: 12px;" class="text-center">
          A travel management system helps travel managers book, track, and analyze business travel. Typically, a travel management system refers to a platform that offers travel inventory, travel policies, and reporting, but this can also refer to the overall process of managing corporate travel.
        </div>
        <div class="text-center mt-3">
          <div>
            <h6 class="fw-bold text-center mt-5">
              Technologies We Use:
            </h6>
            <ul class="d-flex gap-5 justify-content-center mt-3">
              <li>Ruby on rails</li>
              <li>React</li>
              <li>Ruby</li>
              <li>Node</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
