<section class="pt-5 mt-5 goal-section position-relative">
  <h5 class="heading-text mb-3 text-center wow animated zoomIn">
    How we <span class="primary-color">Work</span>
  </h5>
  <p class="text-center wow animated zoomIn my-4 mb-5"
    style="max-width: 850px; margin: auto; line-height: 1.4; font-size: 14px;">
    Precious Info system is a web design and internet marketing company with vast experience in positioning clients for
    success in the website growth and online Website Traffic.
  </p>
  <div class="d-flex flex-wrap">
    <div class="col-sm-6 col-md-3 col-12 goal-div-1 wow animated slideInLeft text-center">
      <%= image_tag 'theme1/modifyimg/smalls icons/Identify the problem.png' , alt: '' %>
        <p class="goal-heading">Discovery and Planning</p>
        <p class="goal-content">
          The procedure starts with a comprehensive project discovery stage, where client necessities, objectives, and
          target audience are recognized. An all-inclusive project plan is created, outlining key highlights and
          timelines.
        </p>
    </div>
    <div class="col-sm-6 col-md-3 col-12 goal-div-2 wow animated slideInDown text-center">
      <%= image_tag 'theme1/modifyimg/smalls icons/Find a solution.png' , alt: '' %>
        <p class="goal-heading">Strategy and Design</p>
        <p class="goal-content">
          Visual designers create the website's aesthetics, choosing color schemes, typography, and images. Mockups and
          prototypes are made to envisage the final design.
        </p>
    </div>
    <div class="col-sm-6 col-md-3 col-12 goal-div-3 wow animated slideInUp text-center">
      <%= image_tag 'theme1/modifyimg/smalls icons/Code It.png' , alt: '' %>
        <p class="goal-heading">Development</p>
        <p class="goal-content">
          Web developers inscribe clean HTML, CSS, and JavaScript code to bring the design to life, ensuring
          cross-browser compatibility and responsive design. Backend developers make the server-side components,
          databases, and application logic, ensuring that functionality aligns with client requirements.
        </p>
    </div>
    <div class="col-sm-6 col-md-3 col-12 goal-div-4 wow animated slideInRight text-center">
      <%= image_tag 'theme1/modifyimg/smalls icons/Test It.png' , alt: '' %>
        <p class="goal-heading">Testing</p>
        <p class="goal-content">
          Rigorous testing is performed to identify and correct any issues, including functional, performance, and
          security testing. Once thoroughly tested and approved, the site is deployed for public access. Ongoing
          maintenance, updates, and support services are offered to ensure that site remains safe, up-to-date, and
          responsive to evolving needs.
        </p>
    </div>
  </div>
</section>
