<section class="pt-5 mt-5 goal-section position-relative">
        <h5 class="heading-text mb-3 text-center wow animated zoomIn">
            How we <span class="primary-color">Work</span>
        </h5>
        <p class="text-center wow animated zoomIn my-4 mb-5" style="max-width: 850px; margin: auto; line-height: 1.4; font-size: 14px;">
            In our software development process, we prioritize collaboration, transparency, and adaptability. We begin by engaging closely with our clients to thoroughly understand their unique needs and goals. This initial discovery phase allows us to define clear project requirements and establish a roadmap. Our team of expert developers then employs agile methodologies, breaking down the project into manageable sprints that enable continuous feedback and iterative improvement
        </p>
        <div class="d-flex flex-wrap">
            <div class="col-sm-6 col-md-3 col-12 goal-div-1 wow animated slideInLeft text-center">
            <%= image_tag 'theme1/goal-1.png', alt: '' %>
            <p class="goal-heading">Identify the problem</p>
            <p class="goal-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa et illo
                consequuntur ullam deleniti quae molestias corporis
            </p>
            </div>
            <div class="col-sm-6 col-md-3 col-12 goal-div-2 wow animated slideInDown text-center">
                <%= image_tag 'theme1/goal-2.png', alt: '' %>
                <p class="goal-heading">Find a solution</p>
                <p class="goal-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa et illo
                    consequuntur ullam deleniti quae molestias corporis
                </p>
            </div>
            <div class="col-sm-6 col-md-3 col-12 goal-div-3 wow animated slideInUp text-center">
                <%= image_tag 'theme1/goal-3.png', alt: '' %>
                <p class="goal-heading">Code it</p>
                <p class="goal-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa et illo
                    consequuntur ullam deleniti quae molestias corporis
                </p>
            </div>
            <div class="col-sm-6 col-md-3 col-12 goal-div-4 wow animated slideInRight text-center">
                <%= image_tag 'theme1/goal-4.png', alt: '' %>
                <p class="goal-heading">Test it</p>
                <p class="goal-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa et illo
                    consequuntur ullam deleniti quae molestias corporis
                </p>
            </div>
        </div>
    </section>