<section class="container mx-auto row d-flex align-items-center about-section pb-5">
  <div class="col-md-6 col-12 order-1 order-md-0 wow animated slideInLeft">
      <%= image_tag 'theme1/precious/About page/about page about us.svg', class: "about-img", alt: '',width: "100%" %>
  </div>
  <div class="col-md-6 col-12 text-center ps-md-3 wow animated slideInRight">
      <p class="about-content">
        Precious Infosystem, the exclusive leading web design and development company in India, and not to forget, the foremost digital marketing service provider, is based in Indore. Still, we cater to clients all over the world with supreme professionalism and expertise. We aspire at being on top not by thinking of outdoing our competitors but somewhat by knowing our strengths and focusing on how we can beat ourselves each day by our work. We assure to you with excellence, professionalism, creativity, co-operation and budget-friendly projects.
      </p>
      <p class="about-content2">
        Whatsoever the goal of your marketing strategy is, Precious Infosystem can't wait to get initiated, whether it's making a new website, creating a better web design, or incorporating a new website development into an existing website. You can link to us with only a click, and we will be there for you to help and support you instantaneously through all the steps of your project life cycle. Therefore, leave all to us, and we assure you the best of the best results.
      </p>
  </div>
</section>
