<section class="container mx-auto row d-flex align-items-center about-section pb-5">
  <div class="col-md-6 col-12 order-1 order-md-0 wow animated slideInLeft">
      <%= image_tag 'theme1/precious/About page/about page about us.svg', class: "about-img", alt: '',width: "100%" %>
  </div>
  <div class="col-md-6 col-12 text-center ps-md-3 wow animated slideInRight">
      <p class="about-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, beatae quasi. Consequuntur aperiam eaque quis commodi deserunt nobis, accusamus porro exercitationem voluptatibus sint cum voluptatem nulla nesciunt ut explicabo aut odit nemo rerum eum architecto voluptates tempora illum. Ad eos quam doloribus earum ab quo dignissimos, maiores atque dicta! Ratione vel commodi ipsum minima provident 
      </p>
      <p class="about-content2">
          necessitatibus inventore reprehenderit aperiam debitis officiis fuga ut aspernatur, architecto, ipsam facere. Quas iure, tempora reiciendis quod beatae, minus excepturi maiores vel voluptate fugiat
      </p>
      <p class="about-content2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. In voluptates alias laboriosam quidem reiciendis odio quo? Facilis vel voluptatem nobis repellendus numquam voluptatibus repudiandae quisquam inventore ea recusandae, possimus ad consequatur asperiores neque ipsa reprehenderit. Eligendi est consequatur quibusdam in. Illum porro sed accusantium, corporis dolorum ullam molestiae facilis asperiores.
      </p>
  </div>
</section>
