<header class="header-section d-flex justify-content-center align-items-center position-relative about-page-header">
  <div class="overlay"></div>
  <p class="about-header-content">About Us</p>
</header>
