<header class="header-section d-flex justify-content-center align-items-center position-relative about-page-header">
  <div class="overlay wow animated zoomIn"></div>
  <p class="about-header-content wow animated zoomIn">About Us</p>
</header>
