<section class="quality-section position-relative">
  <%= image_tag 'theme1/icon-lines-6.png', class: 'quality-bg-img', alt: "" %>
  <div class="container mx-auto">
      <div class="fs-3 market-text">High-Quality Market Experinces</div>
      <div class="market-content">A tale of a fateful trip that started from this tropic port aboard this tiny ship today still wanted by the government they survive as soldiers of fortune to ever wondered the east side to a deluxe apartment.</div>
      <button class="custom-btn"><a href="index.html#contactsection" class="text-decoration-none">Get a Quotes</a></button>
  </div>
</section>
